* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #e8e2d7;
}

.row {
  overflow: hidden;
}

a:hover {
  color: #2a4d4e;
}

.apos{
  position: absolute;
}

a.anchor {
  position: absolute;
  top: -62px;
}

a.anchor#home {
  top: -60vh;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax .layer.base {
  transform: translateZ(0px);
}

.parallax .layer.back {
  transform: translateZ(-1px) scale(2);
  /* correction of bad sizing after translateZ */
  left: -5px;
}

#top {
  background-image: url("images/wall0.jpg");
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: cover;
  height: 70vh;
  width: 100%;
  position: fixed;
}

.nav-container {
  position: fixed;
  z-index: 1;
  width:100%;
  overflow-y: scroll;
}

.nav-container .navbar {
  margin-bottom: 3mm;
  border-radius: 0 0 1mm 1mm;
}

#main {
  margin-top: 65vh;
  min-height: 1200px;
  background-color: #ecdec9;
  background: repeating-linear-gradient(
    10deg,
    #ecdec9,
    #ecdec9 75vh,
    #eee6d9 75vh,
    #eee6d9 150vh,
    #e3d2b9 150vh,
    #e3d2b9 225vh
  );
  border-style: solid;
  /*border-width: 1px;*/
  border-color: #ffffff;
  /*border-color: #d2c6b4;
  border-width: 2mm;*/
  border-radius: 1mm 1mm 1mm 1mm;
  color: #391e15;
  margin-bottom: 2em;
}

#main, .navbar, #footer {
  box-shadow: 0 0 1mm #625d55;
}


#footer.navbar,  #footer.navbar a{
  border-radius: 1mm 1mm 0 0;
  margin-bottom: 0;
  color: #9d9d9d;
  font-size: 14px;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  min-height: 0;
}

#slogan {
  bottom: 8vh;
  position: absolute;
  color: white;
  font-size: 10mm;
  font-weight: bold;
  font-family: sans;
  text-shadow: 0mm 0mm 1mm #303030;
  font-style: italic;
}

#slogan .opacity {
  opacity: 0.7;
}

#slogan strong {
  font-size: 12mm;
  opacity: 1;
}

h1 {
  font-family: sans;
  /*font-weight: bold;*/
  /*font-style: italic;*/
  font-size: 14mm;
  margin-bottom: 10mm;
  margin-left: -0.5em;
  padding-left: 1em;
  background-color: #fbc64f;
  display: inline-block;
  padding-right: 10mm;
  transform: skewX(-20deg);
}

h1 a, h1 {
  color: inherit;
  text-decoration: inherit;
}

.section {
  margin-bottom: 25mm;
}

.story {
  text-align: center;
}

.story .slide {
  min-height: 70vh;
}

.story .slide:last-child {
  min-height: 0;
}

.project-section img {
  max-width: 18em;
  width: 100%;
  max-height: 100%;
}

@media (max-width: 767px) {
  .project-section img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (min-width: 768px) {
  .align-right {
    text-align: right;
  }
}

img {
  max-width: 100%;
  max-height: 60vh;
  border-width: 2mm;
  border-style: solid;
  border-color: #2a4d4e;
  margin-bottom: 3mm;
}

.gallery_img{
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 50%;

  border-width: 1mm;
  border-style: solid;
  /*border-color: #391e15;
  border-color: #553832;*/
  border-left-color: #706052;
  border-top-color:  #706052;
  border-right-color:  #594440;
  border-bottom-color: #594440;

  margin-bottom: 35%;

  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-size: 110%;
  background-position: center;

  transition: background-size 0.2s ease-out;
}

.gallery .max-width {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.gallery_img:hover{
  background-size: 150%;
}

.gallery_img#img_1 { background-image: url("gallery/1.jpg"); }
.gallery_img#img_2 { background-image: url("gallery/2.jpg"); }
.gallery_img#img_3 { background-image: url("gallery/3.jpg"); }
.gallery_img#img_4 { background-image: url("gallery/4.jpg"); }
.gallery_img#img_5 { background-image: url("gallery/5.jpg"); }
.gallery_img#img_6 { background-image: url("gallery/6.jpg"); }
.gallery_img#img_7 { background-image: url("gallery/7.jpg"); }
.gallery_img#img_8 { background-image: url("gallery/8.jpg"); }
.gallery_img#img_9 { background-image: url("gallery/9.jpg"); }
.gallery_img#img_10 { background-image: url("gallery/10.jpg"); }
.gallery_img#img_11 { background-image: url("gallery/11.jpg"); }
.gallery_img#img_12 { background-image: url("gallery/12.jpg"); }
.gallery_img#img_13 { background-image: url("gallery/13.jpg"); }
.gallery_img#img_14 { background-image: url("gallery/14.jpg"); }

#contact-section {
  text-align: center;
}

#contact-section .glyphicon {
  font-size: 3em;
}

#contact-section > .col-sm-4 {
  margin-bottom: 3em;
}

#map {
  height: 180px;
  max-width: 360px;
  background-image: url("images/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-style: solid;
  border-width: 1mm;
  border-color: white;
  margin-left: auto;
  margin-right: auto;
}

#contact-form .row {
  margin-bottom: 2mm;
}

#contact-form textarea {
  height: 7em;
}

#contact-form input[type="submit"] {
  width: 100%;
}
